/* GENERAL STYLES */
:root{
  --academiaLab-color: #c0392b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;

  /* outline: 2px solid green; */
}

html {
  font-size: 62.5%;
}
html body {
  font-size: 1.6rem;
}

a:link, a:visited, a:active {
  text-decoration:none;
}

a{
  color: unset;
}

main{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

/* LOGO */
h1{
  text-align: center;
  margin: 2rem 0;
  font-size: 8rem;
}


.logo::before{
  background-color: var(--academiaLab-color);
  color: white;
  content: "§";
  font-family: Lato,sans-serif;
  font-weight: 700;
  padding: 6px 2px;
}



/* CARD */

.container{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}
.card{
  width: clamp(15rem,85%,50rem);
  height: 38rem; /*! CHECKING */

  color: black;
  
  box-shadow: 5px 5px 20px -5px black;
  border-top: var(--academiaLab-color) solid 6px;
  
  transform: perspective(10000px) rotateX(0deg) rotateY(0deg);
  will-change: transform;
}
.card > .card__miniature{
  /* background-image: url('../assets/icons8-play-26.png');
  background-size: cover; */
  width: 100%;
  aspect-ratio: 16 / 9;
}.card > .card__description{
  background-color: white;
}

@media(width <= 768px){
  h1{
    font-size: 4rem;
  }
  .card{
    height: unset; /*! CHECKING */
  }
}

/*! NAV */

nav{
  background-color: #44749d;
  color: white;
  font-size: 1.8rem;
  height: 7rem;

  display: grid;
  align-content: center;
  
  .menu{
    margin: 0 auto;
    width: clamp(30rem, 90%, 160rem);

    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .menu-items{
      display: flex;
      .menu-item{
        cursor: pointer;
        padding: 2rem 2rem; 
        font-weight: bold;
        &:hover{
          color: black;
          transition: all .7s ease;
          background-color: white;
        }
      }
    }
  }
}


#accountBtn{
  background-color: #44749d;
  color: white;
  cursor: pointer;
  display: flex;
  place-self: center;
  gap: .5rem;
  padding: 1rem;
  font-size: 1.8rem;

  border-radius: 10px;
  & svg{
    width: 24px;
    height: 24px;
  }
  &:hover{
    transition: all .7s ease;
    color: black;
    background-color: white;
    .svg-color{
      fill: black;
    }
  }
}

@media(width <= 768px){
  nav{
    display: none;
    /* font-size: 1.5rem;
    .menu{
      justify-content: space-around;
      .menu-items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        .menu-item{
          padding: .5rem .5rem;
        }
      }
    } */
  }
  #accountBtn{
    padding: unset;
    box-sizing: unset;
    border: unset;
    & svg{
      width: 5rem;
      height: 5rem;
    }
    & span{
      display: none;
    }
  }
}