/* GENERAL STYLES */
:root{
  --academiaLab-color: #c0392b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;

  /* outline: 2px solid green; */
}

html {
  font-size: 62.5%;
}
html body {
  font-size: 1.6rem;
}

a:link, a:visited, a:active {
  text-decoration:none;
}

a{
  color: unset;
}

main{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

/* LOGO */
h1{
  text-align: center;
  margin: 2rem 0;
  font-size: 8rem;
}


.logo::before{
  background-color: var(--academiaLab-color);
  color: white;
  content: "§";
  font-family: Lato,sans-serif;
  font-weight: 700;
  padding: 6px 2px;
}



/* CARD */

.container{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}
.card{
  width: clamp(15rem,85%,50rem);
  color: black;

  box-shadow: 5px 5px 20px -5px black;
  border-top: var(--academiaLab-color) solid 6px;

  transform: perspective(400px) rotateX(0deg) rotateY(0deg);
  will-change: transform;
}
.card > .card__miniature{
  width: 100%;
  aspect-ratio: 16 / 9;
}.card > .card__description{
  background-color: white;
}

/* ::view-transition-old(root),
::view-transition-new(root){
  animation-duration: .2s;
} */

@media(width <= 768px){
  h1{
    font-size: 4rem;
  }  
}