/* GENERAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}
html body {
  font-size: 1.6rem;
}

main{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  /* gap: 3rem; */
}

/* LOGO */
h1{
  text-align: center;
  margin: 2rem 0;
  font-size: 8rem;
  /* width: 44rem; */
}


.logo::before{
  background-color: #c0392b;
  color: #fff;
  content: "ยง";
  font-family: Lato,sans-serif;
  font-weight: 700;
  padding: 6px 2px;
}



/* CARD */

.container{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  /* height: 80vh; */
  /* width: 100vw; */
  gap: 5rem;
}
.card{
  /* background-color: gray; */
  width: clamp(15rem,85%,50rem);
  color: black;
  box-shadow: 5px 5px 20px -5px black;
  will-change: transform;
  /* transition: all .05s ease; */
  transform: perspective(400px) rotateX(0deg) rotateY(0deg);
}
.card > .card__miniature{
  width: 100%;
  aspect-ratio: 16 / 9;
}.card > .card__description{
  background-color: white;
}

/* BUTTON */

.addCard{
  margin: 3rem auto;
  padding: .3rem 3rem;
}

/* VIEW TRANSTION */

/* ::view-transition-old(root){
  animation-name: easeOut;
}
::view-transition-new(root){
  animation-name: easeIn;
} */
::view-transition-old(root),
::view-transition-new(root){
  animation-duration: 1.5s;
}

/* @keyframes easeOut {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes easeIn {
  0%{
    transform: scale(1);
    }
  100%{
    transform: scale(0);
    }
} */



@media(width <= 768px){
  h1{
    font-size: 4rem;
  }  
}