/* ::view-transition-old(pic-one),
::view-transition-new(pic-one){
    animation-duration: 2s;
} */
::view-transition-old(root){
    animation-name: slide-left;
    animation-duration: .25s;
}
::view-transition-new(root){
    animation-name: slide-right;
    animation-duration: .25s;
}

/* .card__miniature{
    view-transition-name:pic-one;
    contain: paint;
}
.mainContent > img{
    view-transition-name:pic-one;
    contain: paint;
} */

@keyframes ZoomIn {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes ZoomOut {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }    
}
@keyframes slide-left {
    from {
      left: 0%;
    }
    to {
      left: -100%;
    }
  }
  
  @keyframes slide-right {
    from {
      left: 100%;
    }
    to {
      left: 0%;
    }
  }