div.container,div.allContent{
    view-transition-name:main-content;
    /* background-color: aqua; */
}

/* div.allContent{
    view-transition-name:main-content;    
    background-color: aqua;
} */


/* ::view-transition-old(main-content){
    animation: ZoomIn 1s ease;
}
::view-transition-new(main-content){
    animation: ZoomOut 1s ease;
} */

@keyframes ZoomIn {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes ZoomOut {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }    
}